<html>

<head>
  <%- include('./Layout/head')%>
</head>

<body class="admin">
  <%- include('./Layout/header')%>
  <%- include('./Layout/menu')%>
  <div class="dashboard-wrapper">
    <br /><br /><br /><br />
    <%  if (custs) { %>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <h2 class="card-header text-center">CUSTOMER LIST</h2>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-light">
                <tr class="border-0">
                  <th class="border-0">ID</th>
                  <th class="border-0">Username</th>
                  <th class="border-0">Password</th>
                  <th class="border-0">Name</th>
                  <th class="border-0">Phone</th>
                  <th class="border-0">Email</th>
                  <th class="border-0">Active</th>
                  <th class="border-0">Action</th>
                </tr>
              </thead>
              <%  for (var item of custs) { %>
                <tr class="datatable" onclick="window.location='./listcustomer?cid=<%=item._id%>'">
                  <th><%=item._id%></th>
                  <td><%=item.username%></td>
                  <td><%=item.password%></td>
                  <td><%=item.name%></td>
                  <td><%=item.phone%></td>
                  <td><%=item.email%></td>
                  <td><%=item.active%></td>
                  <td>
                    <% if (item.active == 0) { %>
                    <a href="./sendmail?id=<%=item._id%>">EMAIL</a>
                    <% } else if (item.active == 1) { %>
                    <a href="./deactive?id=<%=item._id%>&token=<%=item.token%>"
                      onclick="return confirm('ARE YOU SURE?')">DEACTIVE</a>
                    <% } %>
                  </td>
                </tr>
                <%  } %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%  } %>
    <%  if (orders) { %>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <h2 class="card-header text-center">ORDER LIST</h2>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-light">
                <tr class="border-0">
                  <th class="border-0">ID</th>
                  <th class="border-0">Creation date</th>
                  <th class="border-0">Cust.name</th>
                  <th class="border-0">Cust.phone</th>
                  <th class="border-0">Total</th>
                  <th class="border-0">Status</th>
                </tr>

              </thead>
              <%  for (var item of orders) { %>
                <tr class="datatable" onclick="window.location='./listcustomer?cid=<%=custID%>&oid=<%=item._id%>'">
                  <th><%=item._id%></th>
                  <td><%=new Date(item.cdate).toLocaleString()%></td>
                  <td><%=item.customer.name%></td>
                  <td><%=item.customer.phone%></td>
                  <td><%=item.total%></td>
                  <td><%=item.status%></td>
                </tr>
                <%  } %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%  } %>
    <%  if (order) { %>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <h2 class="card-header text-center">ORDER DETAIL</h2>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table">
              <thead class="bg-light">
                <tr class="border-0">
                  <th class="border-0">No.</th>
                  <th class="border-0">Prod.ID</th>
                  <th class="border-0">Prod.name</th>
                  <th class="border-0">Image</th>
                  <th class="border-0">Price</th>
                  <th class="border-0">Quantity</th>
                  <th class="border-0">Amount</th>
                </tr>
              </thead>
              <%  for (var [i, item] of order.items.entries()) {  %>
                <tr class="datatable">
                  <td><%=(i+1)%></td>
                  <td><%=item.product._id%></td>
                  <td><%=item.product.name%></td>
                  <td><img src="data:image/jpg;base64,<%=item.product.image%>" width="70" height="70" /></td>
                  <td><%=item.product.price%></td>
                  <td><%=item.quantity%></td>
                  <td><%=item.product.price * item.quantity%></td>
                </tr>
                <%  } %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%  } %>
    <%- include('./Layout/footer')%>
  </div>
  <%- include('./Layout/foot')%>
</body>
</html>