<head>
  <%- include('./Layout/head')%>
  <script>
    function details(id, name) {

      document.getElementById("txtID").value = id;

      document.getElementById("txtName").value = name;

      document.getElementById("btnUpdate").style.display = "inline";

      document.getElementById("btnDelete").style.display = "inline";

    }
  </script>
</head>

<body class="admin">
  <%- include('./Layout/header')%>
  <%- include('./Layout/menu') %>
  <div class="dashboard-wrapper">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card"><br /><br /><br /><br />
          <h2 class="card-header text-center">CATEGORY DETAIL</h2>
          <div class="card-body">
            <form id="form" novalidate="" data-parsley-validate="" method="POST">
              <div class="form-group row">
                <label class="col-3 col-lg-2 col-form-label text-right" for="inputEmail2">ID</label>
                <div class="col-9 col-lg-10">
                  <input class="form-control" type="text" id="txtID" name="txtID" readonly />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-lg-2 col-form-label text-right" for="inputPassword2">Name</label>
                <div class="col-9 col-lg-10">
                  <input class="form-control" type="text" id="txtName" name="txtName" required />
                </div>
              </div>
              <div class="row pt-2 pt-sm-5 mt-1">
                <div class="col-sm-9 pl-0">
                  <p class="text-right">
                    <button class="btn btn-space btn-primary" type="submit" formaction="./addcategory">ADD
                      NEW</button>
                    <button class="btn btn-space btn-primary" type="submit" formaction="./updatecategory"
                      id="btnUpdate" style="display: none">UPDATE</button>
                    <button class="btn btn-space btn-primary" type="submit" formaction="./deletecategory"
                      id="btnDelete" style="display: none" onclick="return confirm('ARE YOU SURE?')">DELTE</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-12 col-md-6 col-sm-12 col-12">
        <br /><br /><br /><br />
        <h2 class="text-center">CATEGORY LIST</h2>
        <table class="table" border="1">
          <tr class="border-0">
            <th class="border-0">ID</th>
                <th class="border-0">Name</th>
          </tr>

          <%  for (var item of cats) {  %>
            <tr class="table" onclick="details('<%=item._id%>', '<%=item.name%>')">
              <th class="border-0"><%=item._id%></th>
              <th class="border-0"><%=item.name%></th>
            </tr>
            <%  } %>
        </table>
      </div>
    </div>
    <%- include('./Layout/footer')%>
  </div>
</div>
</body>

</html>