<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./Layout/head')%>
</head>

<body class="animsition">
	<%- include('./Layout/header')%>
<!-- Product -->
<section class="bg0 p-t-23 p-b-130">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
						<form action="./search" method="POST" class="search">

							<input type="search" name="txtKeyword" placeholder="Enter keyword" placeholder="Search" class="mtext-107 cl2 size-114 plh2 p-r-15" required
					  
							  oninvalid="this.setCustomValidity('Keyword không để trống')"
					  
							  oninput="this.setCustomValidity('')" />
						  </form>
				</div>
			</div>
		</div>
		<h2 class="text-center">ALL PRODUCTS</h2>
		<br />
		<div class="row isotope-grid">
			<%  for (var prod of prods) { %>
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="align-center">
						<figure>
							<a href="./details?id=<%=prod._id%>"><img src="data:image/jpg;base64,<%=prod.image%>"
									width="300px" height="300px" /></a>
							<figcaption class="text-center"><%=prod.name%><br />Price: <%=prod.price%></figcaption>
						</figure>
					</div>
				</div>
			</div>
			<%  } %>
		</div>
	</div>
</section>
<%- include('./Layout/footer')%>
<%- include('./Layout/foot')%>

</body>

</html>